<!DOCTYPE html>
html(lang="en")
    include templates/head.pug
    body

        header(class="jumbotron")
            figure(class="logo logo-lg")
                img(src="images/logo.svg", alt="Logo image")
            section
                p(class="header-text blk-txt") A history of everything you copy
                p(class="sub-txt gry-txt") Clipboard allows you to track and organize everything you copy. Instantly access your clipboard on all your devices.
                article(class="buttons")
                    button(class="btn btn-grn") Download for iOS
                    button(class="btn btn-blu") Download for Mac
        section(class="padded")
            p(class="header-text blk-txt") Keep track of your snippets
            p(class="sub-txt gry-txt") Clipboard instantly stores any item you copy in the cloud, meaning you can access your snippets immediately on all your devices. Our Mac and iOS apps will help you organize everything.

        section(class="flexy")
            figure
                img(src="images/image-computer.png", alt="alt")
            section.list
                article.list__item
                    p(class="header-text blk-txt") Quick Search
                    p(class="sub-txt gry-txt") Easily search your snippets by content, category, web address, application, and more.
                article.list__item
                    p(class="header-text blk-txt") iCloud Sync
                    p(class="sub-txt gry-txt") Instantly saves and syncs snippets across all your devices.
                article.list__item
                    p(class="header-text blk-txt") Complete History
                    p(class="sub-txt gry-txt") Retrieve any snippets from the first moment you started using the app.

        section(class="padded")
            p(class="header-text blk-txt") Access Clipboard anywhere
            p(class="sub-txt gry-txt") Whether you’re on the go, or at your computer, you can access all your Clipboard snippets in a few simple clicks.
            figure(class="img")
                img(src="images/image-devices.png", alt="image of an iPad and iPhone")

        section(class="padded")
            p(class="header-text blk-txt") Supercharge your workflow
            p(class="sub-txt gry-txt") We’ve got the tools to boost your productivity.
            section.gallery
                article.gallery__item
                    figure
                        img(src="images/icon-blacklist.svg", alt="alt")
                    p(class="header-text blk-txt") Create blacklists
                    p(class="sub-txt gry-txt") Ensure sensitive information never makes its way to your clipboard by excluding certain sources.
                article.gallery__item
                    figure
                        img(src="images/icon-text.svg", alt="alt")
                    p(class="header-text blk-txt") Plain text snippets
                    p(class="sub-txt gry-txt") Remove unwanted formatting from copied text for a consistent look.
                article.gallery__item
                    figure
                        img(src="images/icon-preview.svg", alt="alt")
                    p(class="header-text blk-txt") Sneak Preview
                    p(class="sub-txt gry-txt") Quick preview of all snippets on your Clipboard for easy access.

        section(class="padded")
            ul.vendors
                li
                    img(src="images/logo-google.png", alt="brand image")
                li
                    img(src="images/logo-ibm.png", alt="brand image")
                li
                    img(src="images/logo-microsoft.png", alt="brand image")
                li
                    img(src="images/logo-hp.png", alt="brand image")
                li
                    img(src="images/logo-vector-graphics.png", alt="brand image")

        section(class="padded")
            p(class="header-text blk-txt") Clipboard for iOS and Mac OS
            p(class="sub-txt gry-txt") Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you’re ready to start adding to your clipboard.
            article(class="buttons")
                button(class="btn btn-grn") Download for iOS
                button(class="btn btn-blu") Download for Mac

        footer
            figure(class="logo logo-sm")
                img(src="images/logo.svg", alt="Logo image")
            ul.navigation
                li.navigation__link
                    a(href="#") FAQs
                li.navigation__link
                    a(href="#") Contact Us
                li.navigation__link
                    a(href="#") Privacy Policy
                li.navigation__link
                    a(href="#") Press Kit
                li.navigation__link
                    a(href="#") Install Guide
            ul.social
                li.social__link
                    a(href="#")
                        svg(width='24px' height='24px' viewbox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                            g#---High-Fidelity(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                g#Hifi---Desktop(transform='translate(-1155.000000, -3721.000000)' fill='#4C545C' fill-rule='nonzero')
                                    g#Group-31(transform='translate(0.000000, 3658.000000)')
                                        g#Group-20(transform='translate(1155.000000, 63.000000)')
                                            path#Path(d='M22.675,6.66133815e-16 L1.325,6.66133815e-16 C0.593,6.66133815e-16 0,0.593 0,1.325 L0,22.676 C0,23.407 0.593,24 1.325,24 L12.82,24 L12.82,14.706 L9.692,14.706 L9.692,11.084 L12.82,11.084 L12.82,8.413 C12.82,5.313 14.713,3.625 17.479,3.625 C18.804,3.625 19.942,3.724 20.274,3.768 L20.274,7.008 L18.356,7.009 C16.852,7.009 16.561,7.724 16.561,8.772 L16.561,11.085 L20.148,11.085 L19.681,14.707 L16.561,14.707 L16.561,24 L22.677,24 C23.407,24 24,23.407 24,22.675 L24,1.325 C24,0.593 23.407,0 22.675,6.66133815e-16 Z')

                li.social__link
                    a(href="#")
                        svg(width='24px' height='20px' viewbox='0 0 24 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                            g#---High-Fidelity(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                g#Hifi---Desktop(transform='translate(-1203.000000, -3723.000000)' fill='#4C545C' fill-rule='nonzero')
                                    g#Group-31(transform='translate(0.000000, 3658.000000)')
                                        g#Group-20(transform='translate(1155.000000, 63.000000)')
                                            path#Path(d='M72,4.557 C71.117,4.949 70.168,5.213 69.172,5.332 C70.189,4.723 70.97,3.758 71.337,2.608 C70.386,3.172 69.332,3.582 68.21,3.803 C67.313,2.846 66.032,2.248 64.616,2.248 C61.437,2.248 59.101,5.214 59.819,8.293 C55.728,8.088 52.1,6.128 49.671,3.149 C48.381,5.362 49.002,8.257 51.194,9.723 C50.388,9.697 49.628,9.476 48.965,9.107 C48.911,11.388 50.546,13.522 52.914,13.997 C52.221,14.185 51.462,14.229 50.69,14.081 C51.316,16.037 53.134,17.46 55.29,17.5 C53.22,19.123 50.612,19.848 48,19.54 C50.179,20.937 52.768,21.752 55.548,21.752 C64.69,21.752 69.855,14.031 69.543,7.106 C70.505,6.411 71.34,5.544 72,4.557 Z')

                li.social__link
                    a(href="#")
                        svg(width='24px' height='24px' viewbox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                            g#---High-Fidelity(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                g#Hifi---Desktop(transform='translate(-1251.000000, -3721.000000)' fill='#4C545C' fill-rule='nonzero')
                                    g#Group-31(transform='translate(0.000000, 3658.000000)')
                                        g#Group-20(transform='translate(1155.000000, 63.000000)')
                                            path#Shape(d='M108,2.163 C111.204,2.163 111.584,2.175 112.85,2.233 C116.102,2.381 117.621,3.924 117.769,7.152 C117.827,8.417 117.838,8.797 117.838,12.001 C117.838,15.206 117.826,15.585 117.769,16.85 C117.62,20.075 116.105,21.621 112.85,21.769 C111.584,21.827 111.206,21.839 108,21.839 C104.796,21.839 104.416,21.827 103.151,21.769 C99.891,21.62 98.38,20.07 98.232,16.849 C98.174,15.584 98.162,15.205 98.162,12 C98.162,8.796 98.175,8.417 98.232,7.151 C98.381,3.924 99.896,2.38 103.151,2.232 C104.417,2.175 104.796,2.163 108,2.163 L108,2.163 Z M108,0 C104.741,4.85722573e-16 104.333,0.014 103.053,0.072 C98.695,0.272 96.273,2.69 96.073,7.052 C96.014,8.333 96,8.741 96,12 C96,15.259 96.014,15.668 96.072,16.948 C96.272,21.306 98.69,23.728 103.052,23.928 C104.333,23.986 104.741,24 108,24 C111.259,24 111.668,23.986 112.948,23.928 C117.302,23.728 119.73,21.31 119.927,16.948 C119.986,15.668 120,15.259 120,12 C120,8.741 119.986,8.333 119.928,7.053 C119.732,2.699 117.311,0.273 112.949,0.073 C111.668,0.014 111.259,0 108,0 Z M108,5.838 C104.597,5.838 101.838,8.597 101.838,12 C101.838,15.403 104.597,18.163 108,18.163 C111.403,18.163 114.162,15.404 114.162,12 C114.162,8.597 111.403,5.838 108,5.838 Z M108,16 C105.791,16 104,14.21 104,12 C104,9.791 105.791,8 108,8 C110.209,8 112,9.791 112,12 C112,14.21 110.209,16 108,16 Z M114.406,4.155 C113.61,4.155 112.965,4.8 112.965,5.595 C112.965,6.39 113.61,7.035 114.406,7.035 C115.201,7.035 115.845,6.39 115.845,5.595 C115.845,4.8 115.201,4.155 114.406,4.155 Z')

